/* #region Standard */
.logo-wrapper {
    display: flex;
    /* background-color: rgba(102, 51, 153, 0.521); */
}
.logo-wrapper .logo-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-wrapper .logo-container .squares {
    position: relative;
    width: 45px; /* Adjust as needed */
    height: 46px;
}

.logo-wrapper .logo-container .squares .square {
    width: 27px;
    height: 29px;
    border: 4px solid;
    border-image: linear-gradient(to top right, #4a4a4a, #d3d3d3) 1; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
    position: absolute;
}

.logo-wrapper .logo-container .squares .square:nth-child(1) {
    top: 0;
    left: 0;
}

.logo-wrapper .logo-container .squares .square:nth-child(2) {
    top: 16px; 
    left: 16px;
}

.logo-wrapper .logo-container .logo-text-container .logo-text .b {
    font-size: 2.8rem; 
    line-height: 0.9;
    font-weight: 600;
    display: inline-block;
    background: linear-gradient(to top right, #b4b4b4, #ffffff);
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* WebKit-specific */
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.logo-wrapper .logo-container .logo-text-container .logo-text {
    font-size: 2rem; 
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background: linear-gradient(to top right, #b4b4b4, #ffffff);
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* WebKit-specific */
    color: transparent;
    text-transform: uppercase;
    margin-bottom: -7px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.logo-wrapper .logo-container .logo-text-container .logo-subtext {
    font-size: .37rem; /* Adjust the values to fit your design */
    font-weight: 900;
    font-family: "Playwrite DE Grund", cursive;
    background: linear-gradient(to top right, #cfcfcf, #ffffff);
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* WebKit-specific */
    color: transparent;
    letter-spacing: .3px;
    margin-left: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* #endregion */

/* #region Login */
.logo-wrapper.login{
    margin-bottom: 50px;
}
.logo-wrapper.login .logo-container .squares {
    width: 75px;
    height: 76px;
}

.logo-wrapper.login .logo-container .squares .square {
    width: 42px;
    height: 46px;
    border: 4px solid;
    border-image: linear-gradient(to top right, #4a4a4a, #d3d3d3) 1; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
}

.logo-wrapper.login .logo-container .squares .square:nth-child(2) {
    top: 20px; 
    left: 23px;
}

.logo-wrapper.login .logo-container .logo-text-container .logo-text .b {
    font-size: 3rem; 
}

.logo-wrapper.login .logo-container .logo-text-container .logo-text{
    font-size: 2.2rem; 
}

.logo-wrapper.login .logo-container .logo-text-container .logo-subtext{
    font-size: .58rem;
}

/* #endregion */